---
import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { getAllPosts, sortMDByDate } from "../utils/posts";

export const getStaticPaths = (async ({ paginate }) => {
    const allPosts = await getAllPosts();
    const allPostsByDate = sortMDByDate(allPosts);
    return paginate(allPostsByDate, { pageSize: Infinity });
}) satisfies GetStaticPaths;

interface Props {
    page: Page<CollectionEntry<"post">>;
    uniqueTags: string[];
}

const { page } = Astro.props;

const project = "thoughts";
const site = "https://n4n5.dev";
const repo = `https://github.com/Its-Just-Nans/${project}`;
const rss = `https://${project}.n4n5.dev/rss.xml`;

let idx = 0;
const g = () => {
    return project[idx++]; // crash if wrong
};
---

<Layout title="thoughts">
    <div class="inner-body">
        <div class="title-div">
            <h1 class="title">
                <a
                    class="link-title"
                    href={site}
                    target="_blank"
                    title="main website"
                    aria-label="webpage title is hidding a link to main website">{g()}</a
                >
                <span class="link-title">{g()}</span>
                <a
                    class="link-title"
                    href={rss}
                    target="_blank"
                    title="rss feed"
                    aria-label="webpage title is hidding a link to rss feed">{g() + g()}</a
                >
                <span class="link-title">{g() + g() + g()}</span>
                <a
                    class="link-title"
                    href={repo}
                    target="_blank"
                    title="github repo"
                    aria-label="webpage title is hidding a link to github repo">{g()}</a
                >
            </h1>
            <div>
                <a href="/map" target="_blank" title="map" aria-label="a link to a map">
                    <img src="/images/map.png" class="map-img" alt="map" />
                </a>
            </div>
        </div>
        {
            page.data.length > 0 && (
                <div>
                    <section>
                        <ul>
                            {page.data.map(async (p) => {
                                // const article = await p.render();
                                const slug = p.data.customSlug || p.slug;
                                return (
                                    <li class="article">
                                        <a href={slug} class="article-link">
                                            <div>
                                                <span class="date">
                                                    {p.data.publishDate.toISOString().slice(0, 10)}
                                                </span>
                                                <span>-</span>
                                                <span>{p.data.title}</span>
                                            </div>
                                        </a>
                                    </li>
                                );
                            })}
                        </ul>
                    </section>
                </div>
            )
        }
    </div>
</Layout>

<style>
    .title {
        display: inline-flex;
    }
    .link-title {
        color: inherit;
        text-decoration: inherit;
    }
    .title-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .date {
        /* monospaced font */
        font-family: "Courier New", Courier, monospace;
        font-size: 0.8em;
    }
    .inner-body {
        padding: 0 20px;
        margin: auto;
        max-width: 800px;
    }
    .article {
        display: block;
    }
    .article-link {
        color: black;
        text-decoration: none;
        margin-bottom: 10px;
        display: inline-block;
        text-transform: lowercase;
    }
    .map-img {
        width: 32px;
        height: 32px;
    }

    @media screen and (max-width: 800px) {
        ul {
            padding-inline-start: 15px;
        }
    }
</style>
