---
import { isSchool, isDev, isWork, isThought, isEvent } from "../utils/menus";

const { data, flex = false } = Astro.props;
---

<span class="emoji-wrap" class:list={[{ "emoji-flex": flex }]}>
    {
        data.isSchool && (
            <span class="emoji-place" title="School related">
                {isSchool}
            </span>
        )
    }
    {
        data.isDev && (
            <span class="emoji-place" title="Dev related">
                {isDev}
            </span>
        )
    }
    {
        data.isWork && (
            <span class="emoji-place" title="Work related">
                {isWork}
            </span>
        )
    }
    {
        data.isThought && (
            <span class="emoji-place" title="A thought">
                {isThought}
            </span>
        )
    }
    {
        data.isEvent && (
            <span class="emoji-place" title="An event">
                {isEvent}
            </span>
        )
    }
</span>

<style>
    .emoji-wrap {
        text-align: right;
    }
    .emoji-flex {
        display: flex;
    }
    .emoji-place:hover {
        cursor: help;
    }
</style>
